figure {
	margin-block: 0;
	margin-inline: 0;
}

figcaption {
	
}

picture {
	display: block;
	margin-block-end: 3rem; /* TEMP */
	max-width: 100%;
	overflow: hidden;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}
